.body1 {
    background: linear-gradient(90deg, #C39BD3, #DAF7A6 , #F2B1AB , #ABD4F2 );
    background-size: 600% 600%;
    animation: gradient 15s ease infinite;
}

.body2 {
    background-color: #649F5E;
}

.topTitle {
    text-align: center;
    font-size: 75px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
        background-repeat: no-repeat;
    }
    50% {
        background-position: 100% 50%;
        background-repeat: no-repeat;
    }
    100% {
        background-position: 0% 50%;
        background-repeat: no-repeat;
    }
}

#mainHeading {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 64px;
}

#name {
    font-size: 300px;
    animation: colorChange 2s infinite alternate ease-in-out;
}

@keyframes colorChange {
    0% {
        color: #ABD4F2;
    }
  
    33% {
        color: #C39BD3; 
    }

    66% {
        color: #DAF7A6;
    }

    100% {
        color: #F2B1AB;
    }
}

.mainButton {
    background-color: rgb(98, 152, 214);
}

.block {
    display: block;
    width: 100%;
    border: inset;
    font-size: 64px;
    cursor: pointer;
    text-align: center;
}

.mainButton:hover {
    background-color: rgb(157, 229, 202);
    color: cadetblue;
}